hr {
    height: 3px;
    background-color: burlywood;
    border-color: brown;
}

body, html {
    background-color: #fff3e3;
}
.occupation {
    font-style:italic;
}

.name, .occupation, .ID {
    text-align: center;
    font-family: Geneva;
}

.desc, .contact, .edu, .hobby,.email, .PW, .IG,.school,.hobby {
    font-family: Arial;
}

.table {
    border-color:burlywood;
    border: 2px;
    padding: 10px;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
}

.pfp {
    width: 200px; 
    height: auto; 
    transition: opacity 0.3s; 
    position: center
}

.pfp:hover {
    opacity: 0; 
}

.nickname {
    display: none;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}
.pfp:hover + .nickname {
    display: block;
}

a {
    color: blue;
  }
  
a:visited {
    color: blue;
}
  
a:hover {
    color: brown;
}
  
a:active {
    color: brown;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: lightcyan;
}

.Identity {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

fieldset {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #F5E9D3;
    border-radius: 10px;
    background-color: #f5d8cb;
    color: #bfa2ca;
    margin-top: 20px;
}

.pfp {
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 70%;
    margin: auto;
    background: #F5D8CB;
  }

  h1 {
    margin-right: 300px;
  }
  .topnav {
    overflow: hidden;
    background-color: #F5D8CB;

  }
  
  .topnav a {
    float: left;
    color: #bfa2ca;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: normal;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  



@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        margin-bottom: 10px;
    }

    .topnav {
        flex-direction: column;
    }

    .topnav {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

